@media screen and (min-width:768px){ 
  .App {
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width:767px){ 
  .App {
    margin: 0 auto;
    display: flex;
    min-width: 100vw;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
